<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <h1><%= action == :login ? "User Login" : "New User Signup" %></h1>

    <%action_url = ( action == :login ? sessions_url : users_url)%>

    <div class="error">
      <%= flash[:messages] %>
    </div>

    <form action="<%= action_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label for="username"/>Username</label>
      <input type="text" name="user[username]" id="username">

      <br>

      <label for="password"/>Password</label>
      <input type="text" name="user[password]" id="password">

      <br>

      <input type="submit" value="<%= action == :login ? "Login" : "Signup" %>">
    </form>
  </body>
</html>
