<h1><%= @sub.title %></h1>

<section>
  <p><%= @sub.description %></p>
  <!-- Add link to edit sub if owner of sub is user -->
</section>

<section>
  <!-- Unordered list to posts -->
  <ul>
  <% @sub.posts.each do |post| %>
    <li><%= link_to "#{post.title}", post_url(post), method: :get %></li>
  <% end %>
  </ul>
  <!-- Create a post link -->
  <%= button_to "Create post", new_post_url, method: :get %>
</section>

<footer>
  <%= link_to "Sub List", subs_url, method: :get %>
</footer>
