<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CAT!</title>
  </head>

  <body>
    <table>
      <tr>
        <th> Name </th>
        <th> Birthday </th>
        <th> Sex </th>
        <th> Color </th>
        <th> Description </th>
      </tr>

      <tr>
        <td> <%= @cat.name %> </td>
        <td> <%= @cat.birth_date %> </td>
        <td> <%= @cat.sex %> </td>
        <td> <%= @cat.color %> </td>
        <td> <%= @cat.description %> </td>
      </tr>
    </table>
  </body>
</html>
