<body>
  <% action_url = (action == :new ? goals_url : goal_url(goal)) %>

  <form action="<%= action_url %>" method="post">
    <%= auth_token %>

    <% if action == :edit %>
      <input type="hidden" name="_method" value="patch">
    <% end %>

    <h1><%= action == :edit ? "Edit Goal" : "New Goal" %></h1>

    <label for="body">Body</label><br>
    <textarea id="body" name="goal[body]"><%= goal.body %></textarea>

    <br><br>

    <label for="privacy">Privacy</label><br>
    <input id="true"
      type="radio"
      name="goal[privacy]"
      value="true"
      <%= "checked" if goal.privacy == true %>>
      <label for="true"> True</label><br>
    <input id="false"
      type="radio"
      name="goal[privacy]"
      value="false"
      <%= "checked" if goal.privacy == false %>>
      <label for="false"> False</label><br><br />

    <label for="complete">Complete?</label><br>
    <input id="true"
      type="radio"
      name="goal[complete]"
      value="true"
      <%= "checked" if goal.complete == true %>>
      <label for="true"> True</label><br>
    <input id="false"
      type="radio"
      name="goal[complete]"
      value="false"
      <%= "checked" if goal.complete == false %>>
      <label for="false"> False</label><br>

    <input type="submit" value="Submit">
  </form>
</body>
