<!DOCTYPE html>
<html>
<head>
  <title>TableTennis</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

  <% if logged_in? %>
    Welcome back, <%= current_user.username %>
    <%= button_to "Sign Out", session_url, method: :delete %>
  <% end %>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
