<body>

  <br><br>

  <h3>Goal Description by <%= @goal.user.username %></h3>

  <%= @goal.complete == true ? "Complete!" : "Not complete" %><br>
  <%= @goal.privacy == true ? "Private" : "Public" %>

  <p><%= @goal.body %></p>

  <br><br>

  <%= button_to "Edit Goal", edit_goal_url(@goal), method: :get unless @goal.user_id != current_user.id %>
  <%= button_to "Remove Goal", goal_url(@goal), method: :delete unless @goal.user_id != current_user.id %>
  <%= button_to "Goals", goals_url, method: :get %>
</body>
