<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @album.name %></title>
  </head>

  <body>
    <%= link_to "Band page", band_url(@album.band), method: :get %>

    <h2> <%= @album.name %> </h2>
    <ul>
      <li><%= button_to "Edit album", edit_album_url(@album), method: :get %></li>
      <li><%= button_to "Delete album", album_url(@album), method: :delete %></li>
    </ul>

    <h2> Tracks! </h2>
    <ol>
      <% @album.tracks.each do |track| %>
        <li> <%= link_to "#{track.name}", track_url(track), method: :get %> </li>
      <% end %>

      <%= button_to "Create track!", new_track_url, method: :get %>
    </ol>
  </body>
</html>
